@using Adressbook.Models;
@model List<Contact>
@{
    ViewBag.Title = "Kayıtlı Kişilerim";
}

<h2>@ViewBag.Title</h2>
<h4><a>@Html.ActionLink("Yeni Kişi Ekle", "NewContactForm", "Dashboard")</a></h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">İsim</th>
            <th scope="col">Soyisim</th>
            <th scope="col">Kayıtlı Adres Sayısı</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (Contact contact in Model)
        {
            <tr class='clickable-row' data-href="Dashboard/ContactDetails/@contact.Id">
                <td>@contact.Name</td>
                <td>@contact.Surname</td>
                <td>@contact.Addresses.Count()</td>
                <td>@Html.ActionLink("Güncelle", "EditContactForm", new { id = contact.Id })</td>
                <td>@Html.ActionLink("Sil", "DeleteContact", new { id = contact.Id })</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").css('cursor', 'pointer').hover(
            function () {
                $(this).addClass('active');
            },
            function () {
                $(this).removeClass('active');
            }).click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
}
